<h2>Clear DataBase</h2>
<p>
	<form action="/clear" method="POST">
		<div class="form-group">
      	<label>Type 'delete' if you want clear db</label>
      	<input value="<%=@command%>" name="command" type="text" class="form-control" placeholder="type a command">
    	</div>

		<br>
		<button type="submit" class="btn btn-primary">Clear DB</button>		
	</form>
</p>