<h2>Delete all Posts and comments</h2>
<p>
	<form action="/clear" method="POST">
		<div class="form-group">
      	<label>Type 'delete' if you want to delete all posts</label>
      	<input value="<%=@command%>" name="command" type="text" class="form-control" placeholder="type a command">
    	</div>

		<br>
		<button type="submit" class="btn btn-primary">Clear All</button>		
	</form>
</p>