<h2>Latest posts:</h2>
<br>

<% @result.each do |post| %>	
	<p>
		<em><%=post['content'] %></em> 
		<br><br>
		Added at <%=post['created_date'] %>
		<br>
		<a href="/details/<%=post['id'] %>">Comments</a>
	</p>
	<hr>					
<% end %>